services:
    postgres:
        image: postgres:17.0
        hostname: postgres
        platform: linux/amd64
        container_name: postgres
        environment:
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
          POSTGRES_USER: ${POSTGRES_USER}
          POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - "5432:5432"
        volumes:
            - ./.data/db:/var/lib/postgresql/data
        env_file: ".env"
